@using Polimedica.ViewModel;
@model LoginVM

Bem vindo aos acessórios da Plomédica do Vale

<body class="text-center vsc-initialized">

    <main class="form-signin">
        <form asp-action="Login" method="post">
            <img class="mb-4" src="~/Image/Logo.jpeg">
            <h1 class="h3 mb-3 fw-normal"> - Login - </h1>
            <br />
            <div class="form-floating">
                <input asp-for="Nome" class="form-control">
                <label asp-for="Nome">Nome</label>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control">
                <label asp-for="Password">Password</label>
            </div>
            <br />
            <div class="form-group">
                <input class="btn btn-lg btn-primary" type="submit" value="  Login  " />
            </div>
        </form>
    </main>
    <br />
    <a class="btn btn-lg btn-success" asp-controller="Account" asp-action="Register">Register</a>
</body>