@using Polimedica.ViewModel;
@model RegisterVM
<body class="text-center vsc-initialized">

    <main class="form-signin">
        <form asp-action="Register" method="post">
            <img class="mb-4" src="~/Image/Logo.jpeg">
            <h1 class="h3 mb-3 fw-normal">Please register</h1>

            <div class="form-floating">
                <input asp-for="Nome" class="form-control">
                <label asp-for="Nome">Nome</label>
            </div>
            <div class="form-floating">
                <input asp-for="Funcao" class="form-control">
                <label asp-for="Funcao">Função</label>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control">
                <label asp-for="Password" type="password">Password</label>
            </div>
            <br />
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </main>
</body>